# Node
/node_modules/

# SvelteKit
/.svelte-kit/
/build/
/.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local

# macOS + Linux + Windows stuff
.DS_Store
Thumbs.db