@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #1A1F24;
    /* Primary background color */
    color: #BDC3C7;
    /* Default text color */
}

h1,
h2,
h3,
h4 {
    font-family: 'Noto Sans Mono', monospace;
    /* Heading text */
}

.bg-primary {
    background-color: #141619;
    /* Dark background */
}

.bg-secondary {
    background-color: #1e1f26;
    /* Dark blue background */
}

.bg-accent {
    background-color: #34495E;
    /* Muted blue background */
}

.text-accent {
    color: #34495E;
    /* Muted blue for text or borders */
}

.text-lightAccent {
    color: #5D6D7E;
    /* Soft blue for hover/active text */
}

.text-teal {
    color: #16A085;
    /* Teal for action buttons */
}

.text-brightBlue {
    color: #2980B9;
    /* Bright blue for links/buttons */
}

.text-lightGray {
    color: #BDC3C7;
    /* Light gray for text */
}

.btn-primary {
    background-color: #16A085;
    color: #fff;
}

.btn-secondary {
    background-color: #2980B9;
    color: #fff;
}

.btn:hover {
    background-color: #4C6A92;
    /* Slate blue for hover effects */
}